html {
  background: linear-gradient(to right, #53320e, #161616);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  display: grid;
  grid-template-columns: 500px 1fr;
  width: 100%;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  @media only screen and (max-width: 1200px) {
    grid-template-columns: 350px 1fr
  }
  @media only screen and (max-width: 900px) {
    display: unset;
  }
}

h1{
  color:white;
  font-size: 38px;
  margin:50px 0;
  @media only screen and (max-width: 900px) {
    text-align: center;
  }
  @media only screen and (max-width: 500px) {
    margin:30px 0;
    font-size: 30px
  }
  @media only screen and (max-width: 370px) {
    font-size: 26px
  }
}

#search-form {
  max-width: 100%;
  background-color: #000b07;
  padding: 30px;
  height: 100%;
  @media only screen and (max-width: 1100px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (max-width: 500px) {
    padding: 14px;
  }

  input {
    padding: 8px;
    text-align: center;
    border: 1px solid #d15716;
    border-radius: 5px;
    font-size: 24px;
    background: #000b07;
    color:white;
    width: 90%;
    @media only screen and (max-width: 500px) {
      font-size: 19px;
      padding: 6px
    }


    &:focus {
      outline: none;
      box-shadow: 0px 0px 29px -1px rgba(156, 78, 0, 0.664);
    }
  }

  button {
    background-color: #d15716;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    margin-top: 18px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 90%;
    @media only screen and (max-width: 500px) {
      font-size: 16px;
      padding: 8px 22px;
    }

    &:hover {
      box-shadow: 0px 0px 29px -1px rgba(156, 78, 0, 0.664);
    }
  }
}

.result {
  color: white;
  width: 80%;
  margin: auto;

  &:not(.-visible) {
    display: none;
  }

  h2 {
    font-size: 27px;
    font-weight: 200;
    padding: 20px;
    text-align: center;
    margin: 20px;
  }

  ol {
    margin: 20px;
    font-weight: 200;
    padding: 0;
    font-size: 25px;
    counter-reset: listCounter;
    @media only screen and (max-width: 1100px) {
      font-size: 20px;
    }
    @media only screen and (max-width: 550px) {
      font-size: 18px;
    }


    .result-repos {
      display: flex;
      justify-content: space-between;
      counter-increment: listCounter;
      @media only screen and (max-width: 900px) {
        text-align: center;

      }

      p {
        &:first-of-type::before {
          content: counter(listCounter) ". ";
        }
      }
    }
  }
  @media only screen and (max-width: 550px) {
    margin: 0;
    width: 100%;
  }
}